---
title: "build"
--- output
dist/
---
title: "generated"
--- types
.astro/

---
title: "dependencies"
---
node_modules/

---
title: "logs"
---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


---
title: "environment"
--- variables
.env
.env.production

---
title: "macOS-specific"
--- files
.DS_Store
